NEXT_PUBLIC_SERVER_BASE_URL=https://your-server-url.com

JWT_SECRET=your-jwt-secret

# 브라우저에서 참조하는 환경변수는 NEXT_PUBLIC_ 접두사 필요
NEXT_PUBLIC_CLOUDFLARE_R2_IMAGE_BASE_URL=https://your-r2-public-url.com

CLOUDFLARE_R2_IMAGE_BUCKET_NAME=your-bucket-name
CLOUDFLARE_R2_API_BASE_URL=https://your-account-id.r2.cloudflarestorage.com/
CLOUDFLARE_R2_ACCESS_KEY_ID=your-access-key-id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your-secret-access-key

NEXT_PUBLIC_CDN_URL=https://your-cdn-url.com/cdn-cgi/image
